body{
    font-size: small/1.6em Verdana,Helvetica,Arial;
}

h1, h2 {
	color: #007e7e;
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.3em;
}

div h2{
  color: black;
}

.elixirs h3{
color:#d12c47;
}

.guarantee{
  border: 1px dashed #ffffff;
  background: #a7cece url(images/background.gif) no-repeat  'top left';
  margin: 30px;
  height: 1.9em;
  font: italic Georgia,"Times New Roman";
  color: #444444;
  padding: 25px 25px 25px 80px;
  margin-right: 250px;
}

p{
  border-top-right-radius: 2em;
  border-bottom-left-radius: 2em;
  border:thin dotted rgb(255, 255, 255);
}

#footer{
font-size: 1vw;
}

.elixirs{
  border-width: thin;
  border-style: solid;
  border-color: #007e7e;
  width: 200px;
  padding-left: 20px 20px 20px 20px;
  margin-left: 20px;
  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  text-align: center;
  line-height: 1;
}

span{
width:9999;
}

a:hover{
  color: #471fb4;
}

.elixirs a:link{
  color:#007e7e;
}

.elixirs a:visited{
  color:#1ec447;
}

.elixirs a:hover{
  background: #f88396;
  color:#7e0eaa;
}